@font-face {
  font-family: boldfont;
  src: url(./assets/font-family/Sora-Bold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: mediumfont;
  src: url(./assets/font-family/Sora-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: regularfont;
  src: url(./assets/font-family/Sora-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}
h1 {
  font-family: boldfont;
  font-size: 55px;
}

h2 {
  font-family: boldfont;
  font-size: 38px;
}

h3 {
  font-family: mediumfont;
  font-size: 30px;
}

h4 {
  font-family: mediumfont;
  font-size: 25px;
}

h5 {
  font-family: regularfont;
  font-size: 20px;
}

h6 {
  font-family: regularfont;
  font-size: 17px;
}

p {
  font-family: regularfont;
  font-size: 15px;
}

@media screen and (max-width: 520px) {
  h1 {
    font-family: boldfont;
    font-size: 40px;
  }
  h2 {
    font-family: boldfont;
    font-size: 30px;
  }
  h3 {
    font-family: mediumfont;
    font-size: 25px;
  }
  h4 {
    font-family: mediumfont;
    font-size: 22px;
  }
  h5 {
    font-family: regularfont;
    font-size: 20px;
  }
  h6 {
    font-family: regularfont;
    font-size: 16px;
  }
  p {
    font-family: regularfont;
    font-size: 12px;
  }
  span {
    font-family: regularfont;
    font-size: 12px;
  }
}
.btn {
  font-size: 20px;
}

.btn-primary {
  background-color: #3368C6;
  color: #ffffff;
}

.btn-lg {
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
}

.btn-sm {
  border: none;
  border-radius: 30px;
  padding: 5px 35px;
}

@media screen and (max-width: 520px) {
  .btn-lg {
    border: none;
    border-radius: 30px;
    padding: 7px 10px;
  }
  .btn-sm {
    border: none;
    border-radius: 30px;
    padding: 0px 10px;
  }
}
body {
  background-color: #F0F7FD;
}

.navbar-logo img {
  width: 150px;
}

.dropbtn,
.contact-us {
  border: none;
  background-color: transparent;
  color: #031B4E;
  font-weight: 600;
}

.dropdown-menu {
  border-top: 2px solid #3368C6;
  background-color: #ffffff;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 20px;
  vertical-align: 2px;
  content: "";
  border: 4px solid #3368C6;
  border-radius: 50%;
}

.dropdown-menu[data-bs-popper] {
  top: 130%;
  left: 0px;
  margin-top: 0.125rem;
}

.nav-search-span {
  position: relative;
}

#nav-search-box {
  position: relative;
  width: 300px;
  height: 60px;
  padding: 0 32px 0 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.nav-search-icon {
  position: absolute;
  top: 5px;
  right: 6px;
  border-radius: 50%;
  background-color: #3368C6;
  width: 50px;
  padding: 10px;
}

@media (max-width: 520px) {
  .navbar-logo img {
    width: 110px;
  }
  #nav-search-box {
    width: 340px;
  }
  .nav-search-icon {
    top: -18px;
    right: 6px;
  }
}
.blog-main {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.blog-main::before {
  background-image: url("assets/images/titlebar-blog.jpg");
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 30px;
  z-index: -1;
}

.blog-head-text {
  position: absolute;
  top: 40%;
  color: #031B4E;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}
.read-more-left-img {
  position: relative;
}

.cardiologist-img {
  z-index: 0;
  border-radius: 30px;
}

.cardio-button {
  position: absolute;
  z-index: 2;
  bottom: 5%;
  left: 5%;
}

.blog-details-header {
  color: #3368C6;
}

.blog-details h2:hover {
  color: #3368C6;
}

.heart-rate-icon {
  width: 30px;
}

.search-card {
  background-color: #031B4E;
  color: #ffffff;
  border-radius: 30px;
  padding: 20px;
}

.search-span {
  position: relative;
}

#search-box {
  position: relative;
  width: 300px;
  height: 60px;
  padding: 0 32px 0 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.search-icon {
  position: absolute;
  top: -12px;
  right: 7px;
  border-radius: 50%;
  background-color: #3368C6;
  width: 50px;
  padding: 10px;
}

.category {
  border-radius: 30px;
  background-color: #ffffff;
  color: #031B4E;
}

td:nth-child(3) {
  width: 40%;
  text-align: end;
}

.dot-icon {
  width: 16px;
}

.category-table td {
  border-bottom: 1px solid #3368C6;
  padding: 15px 0px;
  font-size: 15px;
  color: #3368C6;
  padding: 10px 15px;
}

.recent-post-link li {
  list-style-type: none;
  display: flex;
}

.recent-post-link li img {
  border-radius: 30px;
}

.newletter-section {
  text-align: center;
  background-image: url("assets/images/ads-bg-img.jpg");
  width: 85%;
  height: 7%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 30px;
  color: #ffffff;
}

.news-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  align-items: center;
}

.btn-register-now img {
  width: 25px;
}

.tag-btn {
  background-color: #F0F7FD;
}

.tag-btn:hover {
  background-color: #3368C6;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  #search-box {
    width: 62vw;
  }
  td:nth-child(3) {
    width: 40vw;
  }
  .newletter-section {
    width: 68vw;
    height: 17vh;
    margin: 20px 0 20px 0;
  }
}
@media screen and (max-width: 520px) {
  .search-icon {
    top: -16px;
    right: 4px;
  }
  #search-box {
    width: 78vw;
  }
  td:nth-child(3) {
    width: 40vw;
  }
  .newletter-section {
    width: 90vw;
    height: 50vh;
  }
}
.footer {
  background-color: #ffffff;
  background-image: url("assets/images/footer-bg-img.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.footer-left {
  color: #031B4E;
  padding-top: 100px;
}

.logo-footer {
  height: 55px;
}

.social-icon {
  font-size: 20px;
  border-radius: 50%;
  padding: 6px;
  border: 1px solid #031B4E;
}

.social-icon:hover {
  background-color: #3368C6;
}

.social-icon img {
  width: 20px;
}

.footer-right {
  color: #031B4E;
  padding-top: 100px;
}

.heading-footer-links {
  color: #3368C6;
}

@media screen and (max-width: 520px) {
  .footer {
    background-position: bottom;
  }
  .footer .footer-right {
    padding-top: 20px;
  }
  .footer .footer-left {
    padding-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */