.read-more-left-img
        position: relative

.cardiologist-img
        z-index: 0
        border-radius: 30px

.cardio-button
        position: absolute
        z-index: 2
        bottom: 5%
        left: 5%

.blog-details-header
        color: $secondarycolor

.blog-details h2:hover
        color: $secondarycolor
